[loggers]
keys: root, amqp_connection, werkzeug

[handlers]
keys: console

[formatters]
keys: pepperFormatter

[logger_root]
level: DEBUG
handlers: console

[handler_console]
class: StreamHandler
level: NOTSET
formatter: pepperFormatter
args: (sys.stdout,)

[formatter_pepperFormatter]
format: %(asctime)s %(levelname)-8s %(name)-60s %(message)s
datefmt: %x %X

[logger_amqp_connection]
level: INFO
handlers: console
qualname: amqp.connection
propagate: 0

[logger_werkzeug]
level: WARNING
handlers: console
qualname: werkzeug
propagate: 0
